<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<body>

<div class="container">
<h1 class = "ultima">Notícias recentes</h1>
<h2 class = "ultima">Inscrições para técnico integrado seguem abertas</h2>
<h3 class = "ultima">São 1.440 vagas em 11 opções de cursos, distribuídos nos dez campi.
<br>
Seleção será feita com base em notas do 7º ano do ensino fundamental</h3>

<h4 class = "ultima">Seguem abertas até 6 de outubro as inscrições na seleção de estudantes para cursos técnicos integrados ao ensino médio,<br>ofertados pelo Instituto Federal de Mato Grosso do Sul (IFMS) e com ingresso no primeiro semestre letivo de 2022.
<br>
<br>
<p>
As 1.440 vagas são distribuídas nos dez campi do IFMS, localizados nos municípios de Aquidauana, Campo Grande, Corumbá,<br>Coxim, Dourados, Jardim, Naviraí, Nova Andradina, Ponta Porã e Três Lagoas.
<br>
<p>
São oferecidas 11 opções de cursos técnicos integrados: Agricultura, Agropecuária, Alimentos, Aquicultura, Desenvolvimento de Sistemas,<br>Edificações, Eletrotécnica, Informática, Informática para Internet, Mecânica e Metalurgia. 
<br>
<p>
A seleção será feita por meio de análise das notas/conceitos obtidos pelos candidatos nas disciplinas de Língua Portuguesa,<br>Matemática, Ciências, História e Geografia, no 7º ano do ensino fundamental.
<br>
<br>
<p>
O edital com todas as regras do processo seletivo está publicado na Central de Seleção do IFMS.</h4>
<script src="script.js"></script>

  </body>
</html>