<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>


<div class="container">
<h1 class="titulo"> IFMS Notícias </h1>
<button type="button" class="btn btn-success"><a class="branco" href= "noticias"> entrar </a></button>
<script src="script.js"></script>

  </body>
</html>
