<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

<div class="container">
<h1 class="titulo">Notícias recentes</h1>
<h2><a href="noticias/01" class="verde">Inscrições para técnico integrado seguem abertas</a></h2>
<h3 class="sub-titulo">São 1.440 vagas em 11 opções de cursos, distribuídos nos dez campi.
<br>
Seleção será feita com base em notas do 7º ano do ensino fundamental</h3>
<script src="script.js"></script>

  </body>
</html>